* {
    margin: 0px;
    padding: 0px;
}

.navdiv {
    position: fixed;
    width: 100%;
    padding: 20px;
    background-color: orange;
}

body {
    /* padding-top: 1000px; */
    background-image: url("good.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100%; */
    /* position: fixed; */
}

.navlink {
    color: white;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    width: 55px;
}

.navlink :hover {
    color: white;
    border: 2px solid white;
    width: 55px;
    padding: 5px;
}

.h1nav {
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

.maindiv {
    /* display: flex; */
    /* justify-content: center; */
    padding-top: 95px;
    background-color: white;
    width: 1050px;
    margin-left: 16%;
    height: 2000px;
}

.h1 {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

.footerdiv {
     /* display: flex; */
    /* justify-content: center; */
    margin-top: 15px;
    background-color: grey;
    width: 1050px;
    margin-left: 16%;
    /* height: 2000px; */
}

#contact-div {
    background-color: #656f8c;
  }
  
  .contact {
    /*   height:800px; */
    /*   min-height:800px; */
    background: #db2b30;
    padding-bottom: 160px;
  }
  
  
  .contact-details {
    display: inline-block;
    font-weight: bold;
    margin: 0 35px 45px 35px;
    list-style-type: none;
    border: 2px solid #90c695;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background: #e0ebe8;
    color: #008080;
    text-decoration: none;
    text-align: center;
  }
  
  .show-all {
    text-decoration: none;
    display: block;
    width: 200px;
    height: 30px;
    margin: 20px auto 90px;
    background: #e0ebe8;
    color: #008080;
    font-weight: bold;
    font-size: 1em;
    border: 5px solid #9bbfab;
    border-radius: 4px;
    cursor: pointer;
    padding-top: 10px;
  }
  
  .show-all:hover {
    background: #e4f1fe;
    color: green;
  }
  
  .contact-details:hover {
    background: #e4f1fe;
    color: green;
  }
  
  @media only screen and (max-width: 250px) {
    nav ul {
      text-align: center;
    }
    nav ul li {
      margin: 20px;
    }
    .project {
      margin: 40px 0;
    }
  }
  
  @media only screen and (max-width: 367px) {
    /*    #contact{
          min-height:1100px;
        } */
    .contact-details {
      display: flex;
      border: 2px solid #90c695;
      border-radius: 0;
      width: 90px;
      height: 20px;
      padding: 10px;
      line-height: normal;
      flex-wrap: wrap;
    }
  }
  
  .contact-center {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
  }
  
  footer {
    background-color: #026670;
  }
  
  .footer-link {
    text-decoration: none;
    color: #9fedd7;
  }
  
  footer p {
    color: #fff;
    text-align: center;
    padding: 25px;
  }